body {
  font-family:"Times New Roman", Georgia, Serif;
  text-align: center;
}

a {
  color:white;
}

.square {
  float:left;
  position: relative;
  width: 17.5%;
  padding-bottom: 17.5%; /* = width for a 1:1 aspect ratio */
  /* margin:1.66%; */
  overflow:hidden;
  border-style:solid;
  border-width:1px;
}

.quote {
  position:absolute;
  height:80%; /* = 100% - 2*10% padding */
  width:90%; /* = 100% - 2*5% padding */
  padding: 10% 5%;
  text-align:center;
  vertical-align:middle;
  font-size:24px;
}

#title {
  text-align:center;
  font-size:48px;
  width:100%;
  float:left;
}

#body {
  margin:auto;
}

#footer {
  text-align:center;
  font-size:12px;
  width:100%;
  float:left;
  clear:both;
  }

@media only screen and (max-height: 1000px) and (min-height: 801px) {
   .quote { font-size: 18px; }
}
@media only screen and (max-height: 800px) and (min-height: 601px) {
   .quote { font-size: 12px; }
}
@media only screen and (max-height: 600px) {
   .quote { font-size: 9px; }
}
